body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Background.png');
}

.button:hover {
    background-color: #2980b9;
    color: #fff
}

.top-bar {
    background-color: #f2f2f2;
    color: #fff;
    display: flex;
    align-items: center;
    --justify-content: space-between;
    /* padding: 10px 20px; */
    height: 60px;
    margin-bottom: 20px;
}

.button {
    background-color: #fff;
    color: #3498db;
    border: none;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    gap: 10px;
}

.activity-containers {
    display: flex;
    justify-content: space-between;
    /* Distribute space between containers */
}

.post-activity-container,
.login-activity-container,
.logout-activity-container {
    flex: 0 0 calc(33.33% - 20px);
    /* Each container takes up 33.33% width with spacing */
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

.post-activity-container {
    background-color: #f0f0f0;
    /* Light gray */
}

.login-activity-container {
    background-color: #d0e0ff;
    /* Light blue */
}

.logout-activity-container {
    background-color: #ffe0d0;
    /* Light orange */
}

.activity-item {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Style the line breaks */

.post-activity-container br,
.login-activity-container br,
.logout-activity-container br {
    display: none;
}

.users-container {
    max-height: 200px;
    width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transform: translateX(100%);
}


/* Style for user-list (ul) */

.user-item {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}


/* Style for the remove button */

.user-item button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}


/* Style the remove button on hover */

.user-item button:hover {
    background-color: #2980b9;
}

.user-item,
li,
h2,
p,
button {
    font-family: 'Poppins', sans-serif;
}

.featureContainer {
    max-height: 200px;
    width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transform: translateX(100%);
}

.paragraph-feature {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2980b9;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.feature-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}