/* Common styles for both pages */

body {
    background-image: url('Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

ul,
ol {
    margin-bottom: 15px;
}

.top-bar {
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.readme-title {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #fff;
    color: #3498db;
    border: none;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #2980b9;
    color: #fff
}

.main-content-readme {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.chapter-box {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.left {
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}


/* Footer styling */

.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}